* {
	box-sizing : border-box;
	margin :0px;
	padding :0;
}



h1{
	text-align: center;
	font-family: 'Comic Sans MS';
	margin-bottom: 35px;
	margin-top:20px;
}

.row{
	width:100%;
}

.menu{
	border : 2px solid black;
	margin: 1%;
	width : 31.33%;
	float: left;
	background-color: #A9A9A9;
	position:relative;
}

.description{
	margin-top: 2.5em;
	margin-right:12px;
	margin-left:12px;
	margin-bottom:5px;
	font-family: 'Comic Sans MS';
}

.headings{
	font-family: 'Comic Sans MS';
	text-align: center;
	width:120px;
	height:30px;
	line-height: 25px;
	position:absolute;
	top:0;
	right:0;
	border-bottom : 2px solid black;
	border-left : 2px solid black;
}

#chickenhead{
	background-color:#990000;
	color:#ffcc00;
}

#beefhead{
	background-color:#350000;
	color:white;
}

#sushihead{
	background-color:#ffcc00;
	color:#350000;
}

@media(min-width: 768px) and (max-width:991px){
	#chicken{
		width:48%;
	}

	#beef{
		width:48%;
	}

	#sushi{
		width:98%;
	}
}

@media(max-width:767px){
	#chicken,#beef,#sushi{
		width:98%;
	}

}
